{% load static %}
{% load mathfilters %}
<!DOCTYPE html>
<html>
<head>
    {% include "app/head_includes.html" %}
    <link type="text/css" rel="stylesheet" href="{% static 'app/css/style.css' %}" />
    <title>Home</title>
</head>

<body>

<!-- Navigation Drawer
<header>
    <ul id="slide-out" class="sidenav sidenav-fixed">
        <div class="row">
            <div class="col s4 offset-s4 m4 offset-m4 l4 offset-l4">
                <img src="{% static 'app/images/logo.png' %}" alt="" class="circle responsive-img">
            </div>
        </div>

        <li>
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">folder_open</i>
                        Categorie
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            {% if categories %}
                                {% for category in categories %}
                                    <li><a style="font-weight: 200" href="/app/category/{{ category.id }}/">{{ category.name }}</a></li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</header>

<!-- Page content -->
<main>
    <nav class="navbar navbar-dark bg-dark">
        <div style="display: inline-block; width: 100%; height: 100%">
            <img src="{% static 'app/images/logo.png' %}" width="30" height="30" alt="">

            <div id="searchcontainer">
                <input id="search" type="search" placeholder="Cerca" required onkeyup="searchFromDB(this.value)">
                <i class="material-icons" style="width: 24px; height: 24px; vertical-align: middle; color: white">search</i>
                <div style="height: 1px; background-color: white; position: relative; bottom: 20%"></div>
            </div>
        </div>
    </nav>
    <!-- Toolbar
    <div class="navbar-fixed">
        <nav>
            <div style="width: 100%; height: 100%">
                <div id="searchcontainer">
                    <input id="search" type="search" placeholder="Cerca" required onkeyup="searchFromDB(this.value)">
                    <div class="material-icons" style="width: 24px; height: 24px; vertical-align: middle">search</div>
                    <div style="height: 1px; background-color: white; position: relative; bottom: 20%"></div>
                </div>
            </div>
        </nav>
    </div> -->
    <div id="home-films" class="row no-gutters">
        {% if home_films %}
            {% for film in home_films %}
                <div class="col-1">
                    <a href="play/{{ film.id }}/">
                        <div class="film-card">
                            <img class="img-fluid" src="{{ film.image_url }}">
                            <!--<div class="card-image">
                                    <span class="card-title">{{ film.title }}</span>
                                    <a href="play/{{ film.id }}/" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">play_arrow</i></a>
                                </div>
                                <div class="card-content" style="min-height: 190px">
                                    <p>{{ film.desc }}</p>
                                </div>-->
                            <div class="film-card-overlay"></div>
                            <div class="film-info">
                                <div style="display: table-row">
                                    <div style="display: table-cell; vertical-align: bottom; text-align: center">
                                        <p>{{ film.title }}</p>
                                        <p style="font-weight: 500;">{{ film.publication_year }}</p>
                                    </div>
                                </div>
                                <div style="display: table-row">
                                    <div style="display: table-cell; vertical-align: bottom; text-align: center; padding-bottom: 4px">
                                        {% with ''|center:film.rating as range %}
                                            {% for star in range %}
                                                <i class="material-icons">star</i>
                                            {% endfor %}

                                            {% with ''|center:5|sub:film.rating as  remaining%}
                                                {% for star in remaining %}
                                                    <i class="material-icons">star border</i>
                                                {% endfor %}
                                            {% endwith %}
                                        {% endwith %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div id="searched-films" class="row no-gutters">

    </div>
</main>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="{% static 'app/js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/bootstrap.min.js' %}"></script>
<script>
    $(document).ready(function() {
    });

    function searchFromDB(s) {
        $.ajax({
            dataType: "json",
            type: "GET",
            url: "/app/search/" + s + "/",
            success: function (result) {
                if (result.length != 0) {
                    $("#home-films").hide();
                    $("#searched-films").empty();

                    for (var i in result) {
                        var card = '<div class="col s3 m3 l3">\n' +
                            '                        <a href="play/' + result[i].pk + '/">\n' +
                            '                            <div class="card">\n' +
                            '                                <div class="card-image">\n' +
                            '                                    <img class="responsive-img" style="max-height: 300px" src="' + result[i].fields.image_url + '">\n' +
                            '                                    <span class="card-title">' + result[i].fields.title + '</span>\n' +
                            '                                    <a href="play/' + result[i].pk + '/" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">play_arrow</i></a>\n' +
                            '                                </div>\n' +
                            '                                <div class="card-content" style="min-height: 190px">\n' +
                            '                                    <p>' + result[i].fields.desc + '</p>\n' +
                            '                                </div>\n' +
                            '                            </div>\n' +
                            '                        </a>\n' +
                            '                    </div>';

                        $("#searched-films").append(card);
                    }
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                if(xhr.status == 404) {
                    $("#home-films").show();
                    $("#searched-films").empty();
                }
            }
        });
    }
</script>
</body>
</html>